body{
    background-color: lightgray;
    margin: auto;
    font-family: calibri;
}
#dash{
    background-color: dodgerblue;
    height: 60px;
    text-align: center;
    font-size: 2.4rem;
    padding-top: 10px;
    font-weight: bold;
  
color: white;
}
#hamb{
    float: left;
    padding-left: 16px;
    padding-top: 15px;
}
#hamb:hover{
   
    background-color: grey;
    width: 45px;
    height: 55px;
}
.hh{

    background-color: black;
    height: 4px;
    margin-top:6px ;
    width: 31px;
    
}
#content{
text-align: center;
font-size: 1.4rem;
background-color: grey ;
height:auto;
width: 50%;
border-radius: 7px;
margin: auto;
}
#bal{
    width: 90%;
    height: 23px;
    border: 1px solid grey;
    border-radius: 4px;
}



.last{
    margin-bottom: 22px;
    height: 900px;
}

#cancelbtn{
    background-color: red;
    text-align: center;
 
    width: 180px;
    height: 39px;
    color: white;
    
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
    margin-right: 12%;
    align-content: center;
}
.add{

    margin-left: 33%;
   
width: auto;
height: auto;

}

#myLinks{
    display: none;
}
.link{
    color: white;
    font-size: 1.1rem;
display: block;
background-color: brown;
text-decoration: none;
padding: 14px 16px;
}
.entry{
    float: right;
    font-size: 1.3rem;
    font-weight: normal;
    padding-right: 25px;
    padding-top: 9px;
    text-decoration: none;
    color: white;
}
#category{
    font-family: calibri;
    width: 90%;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
}
textarea{
    height: 240px;
    font-family: calibri; 
    font-size: 1rem;
    width: 100%;
    padding: 10px;
}
